/*
Color palette:

DeepPink #ff1493 rgb(255, 20, 147) hsl(328, 100%, 54%)
#7bf2ff rgb(123, 242, 255) hsl(186, 100%, 74%)
#7bd4a5 rgb(123, 212, 165) hsl(148, 51%, 66%)
#df99ff rgb(223, 153, 255) hsl(281, 100%, 80%)
#e2f794 rgb(226, 247, 148) hsl(73, 86%, 77%)
*/

/* quicksand-regular - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../../lib/quicksand/quicksand-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
    url('../../lib/quicksand/quicksand-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../lib/quicksand/quicksand-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../lib/quicksand/quicksand-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../../lib/quicksand/quicksand-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../lib/quicksand/quicksand-v9-latin-regular.svg#Quicksand') format('svg'); /* Legacy iOS */
}
/* quicksand-700 - latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../../lib/quicksand/quicksand-v9-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Quicksand Bold'), local('Quicksand-Bold'),
    url('../../lib/quicksand/quicksand-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../lib/quicksand/quicksand-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../lib/quicksand/quicksand-v9-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../../lib/quicksand/quicksand-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../lib/quicksand/quicksand-v9-latin-700.svg#Quicksand') format('svg'); /* Legacy iOS */
}

body {
    --background-color: white;
    --parameter-bar-height: 24px;
    --parameter-bar-border-width: 0px;
    --parameter-text-color: hsl(0, 0%, 50%);
    --parameter-border-color: hsl(0, 0%, 50%);
    --parameter-marker-color: hsl(0, 0%, 50%);

    /* bright mode */
    --parameter-border-color-default: #777777;
    --parameter-background-color: hsl(0, 0%, 100%);
    --parameter-bar-container-background-color: hsl(0, 0%, 92%);
    --parameter-color: hsl(0, 0%, 60%);
    --parameter-second-color: hsl(0, 0%, 65%);
    --parameter-third-color: hsl(0, 0%, 75%);
}

body.dark-theme {
    --background-color: white;
    --parameter-border-color-default: #888888;
    --parameter-background-color: hsl(0, 0%, 0%);
    --parameter-bar-container-background-color: hsl(0, 0%, 8%);
    --parameter-color: hsl(0, 0%, 40%);
    --parameter-second-color: hsl(0, 0%, 35%);
    --parameter-third-color: hsl(0, 0%, 25%);
}


body {
    overflow: hidden;
    background-color: var(--background-color);
}

.parameters {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    background-color: var(--parameter-background-color);
}

.parameters .label {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    padding: 0px 25px 0px 25px;
    color: var(--parameter-text-color);
    height: calc(var(--parameter-bar-height) + 2 * var(--parameter-bar-border-width));
    line-height: calc(var(--parameter-bar-height) + 2 * var(--parameter-bar-border-width));
}

.parameters .label.left {
    padding-right: 30px;
    text-align: left;
}

.parameters .label.right {
    padding-left: 30px;
    text-align: right;
    visibility: hidden;
}

.parameters .barContainer {
    padding: 2px 8px 2px 8px;
    background-color: var(--parameter-bar-container-background-color);
}

.parameters :nth-child(10), .parameters :nth-child(11), .parameters :nth-child(12) {
    padding-top: 8px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.parameters :nth-last-child(1), .parameters :nth-last-child(2), .parameters :nth-last-child(3) {
    padding-bottom: 8px !important;
}

.parameters .bar {
    box-sizing: border-box;
    position: relative;
    border: var(--parameter-bar-border-width) solid var(--parameter-border-color);
    border-radius: 5px;
    width: 100%;
    height: calc(var(--parameter-bar-height) + 2 * var(--parameter-bar-border-width));
    background-color: var(--parameter-third-color);
    overflow: hidden;
}

.parameters .minValue {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--parameter-bar-height);
    width: 60%;
    background-color: var(--parameter-color);
}

.parameters .value {
    position: relative;
    top: 0px;
    left: 0px;
    height: var(--parameter-bar-height);
    width: 70%;
    background-color: var(--parameter-second-color);
    border-right: var(--parameter-color) solid var(--parameter-bar-border-width);
}

.marker {
    position: absolute;
    left: 100%;
}

.marker::before {
    content: "";
    position: absolute;
    border-color: var(--parameter-marker-color) transparent var(--parameter-marker-color) transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    left: -5px;
    height: 14px;
    width: 2px;
}

.marker::after {
    content: "";
    position: absolute;
    border-color: var(--parameter-marker-color);
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    height: 20px;
    left: -1px;
    width: 0px;
}

#stats {
    position: absolute;
    left: 0px;
    top: 0px;
}

.dg.main {
    margin-right: 0px !important;
}

.hidden {
    display: none !important;
}
