/*
Color palette:

DeepPink #ff1493 rgb(255, 20, 147) hsl(328, 100%, 54%)
#7bf2ff rgb(123, 242, 255) hsl(186, 100%, 74%)
#7bd4a5 rgb(123, 212, 165) hsl(148, 51%, 66%)
#df99ff rgb(223, 153, 255) hsl(281, 100%, 80%)
#e2f794 rgb(226, 247, 148) hsl(73, 86%, 77%)
*/


body {
    overflow: hidden;
}

.parameters * {
    --parameter-bar-height: 20px;
    --parameter-bar-border-width: 2px;
    --parameter-border-color-default: #777777;
    --parameter-text-color: DimGray;
    --parameter-border-color: LightGray;
}

.parameters .loudness {
    --parameter-color: hsl(345, 80%, 50%);
    --parameter-second-color: hsl(345, 70%, 75%);
    --parameter-third-color: hsl(345, 70%, 85%);
}

.parameters .tempo {
    --parameter-color: hsl(128, 50%, 47%);
    --parameter-second-color: hsl(128, 40%, 75%);
    --parameter-third-color: hsl(128, 40%, 85%);
}

.parameters .ml {
    --parameter-color: hsl(303, 86%, 57%);
    --parameter-second-color: hsl(303, 76%, 75%);
    --parameter-third-color: hsl(303, 76%, 85%);
}

.parameters .mlLoudness {
    --parameter-color: hsl(186, 100%, 74%);
    --parameter-second-color: hsl(186, 100%, 85%);
    --parameter-third-color: hsl(186, 100%, 95%);
}

.parameters .mlDynamicSpread {
    --parameter-color: hsl(281, 100%, 80%);
    --parameter-second-color: hsl(281, 100%, 90%);
    --parameter-third-color: hsl(281, 100%, 95%);
}

.parameters .mlTempo {
    --parameter-color: hsl(148, 51%, 66%);
    --parameter-second-color: hsl(148, 51%, 83%);
    --parameter-third-color: hsl(148, 51%, 91.5%);
}

.parameters .mlMicroTiming {
    --parameter-color: hsl(328, 100%, 54%);
    --parameter-second-color: hsl(328, 100%, 64%);
    --parameter-third-color: hsl(328, 100%, 78%);
}

.parameters .mlArticulation {
    --parameter-color: hsl(73, 86%, 77%);
    --parameter-second-color: hsl(73, 86%, 88.5%);
    --parameter-third-color: hsl(73, 86%, 94.25%);
}

.parameters {
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    bottom: 0px;
    left: 0px;
    display: grid;
    grid-template-columns: min-content auto;
    grid-row-gap: 3px;
    padding: 0px 20px 10px 20px;
}

.parameters .label {
    font-family: sans-serif;
    color: var(--parameter-text-color);
    height: var(--parameter-bar-height);
    padding-right: 7px;
    text-align: right;
    line-height: calc(var(--parameter-bar-height) + 2 * var(--parameter-bar-border-width));
}

.parameters .bar {
    box-sizing: border-box;
    position: relative;
    border: var(--parameter-bar-border-width) solid var(--parameter-border-color);
    border-radius: 5px;
    width: 100%;
    height: calc(var(--parameter-bar-height) + 2 * var(--parameter-bar-border-width));
    background-color: var(--parameter-third-color);
    overflow: hidden;
}

.parameters .minValue {
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--parameter-bar-height);
    width: 60%;
    background-color: var(--parameter-color);
}

.parameters .value {
    position: relative;
    top: 0px;
    left: 0px;
    height: var(--parameter-bar-height);
    width: 70%;
    background-color: var(--parameter-second-color);
    border-right: var(--parameter-color) solid var(--parameter-bar-border-width);
}

.marker {
    position: absolute;
    left: 100%;
}

.marker::before {
    content: "";
    position: absolute;
    border-color: var(--parameter-color) transparent var(--parameter-color) transparent;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    left: -5px;
    height: 10px;
    width: 2px;
}

.marker::after {
    content: "";
    position: absolute;
    border-color: var(--parameter-color);
    border-style: solid;
    border-width: 0px 2px 0px 2px;
    height: 20px;
    left: -1px;
    width: 0px;
}

#stats {
    position: absolute;
    left: 0px;
    top: 0px;
}